name: Node.js CI

on:
  pull_request:
    branches:
      - main
    types: [closed]
    paths:
      - "src/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    if: |
      !(
        contains(github.event.sender.login, 'bot') ||
        contains(github.event.workflow_run.head_commit.author.login, 'bot') ||
        (github.event_name == 'pull_request' && (
          contains(github.event.pull_request.user.login, 'bot') ||
          github.event.pull_request.merged == true
        ))
      )
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - run: npm install -g yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build project
        run: yarn run build
